@keyframes spin {
    0% {
        @include transform(rotate(0deg));
        opacity: 0.4;
    }
    50% {
        @include transform(rotate(180deg));
        opacity: 1;
    }
    100% {
        @include transform(rotate(360deg));
        opacity: 0.4;
    }
}

@keyframes rotate-one {
    0% {
        @include transform(rotateX(35deg) rotateY(-45deg) rotateZ(0deg));
    }
    100% {
        @include transform(rotateX(35deg) rotateY(-45deg) rotateZ(360deg));
    }
}

@keyframes rotate-two {
    0% {
        @include transform(rotateX(50deg) rotateY(10deg) rotateZ(0deg));
    }
    100% {
        @include transform(rotateX(50deg) rotateY(10deg) rotateZ(360deg));
    }
}

@keyframes rotate-three {
    0% {
        @include transform(rotateX(35deg) rotateY(55deg) rotateZ(0deg));
    }
    100% {
        @include transform(rotateX(35deg) rotateY(55deg) rotateZ(360deg));
    }
}

@keyframes bounce {
    0% {
        @include transform(translateY(0px));
    }
    100% {
        @include transform(translateY(-20px));
    }
}
@keyframes blink {
    0% {
        background-color: #F0F0F0;
        color: #555555;
    }
    50% {
        background-color: #D3332E;
        color: #ffffff;
    }
    100% {
        background-color: #F0F0F0;
        color: #555555;
    }
}