$cyan: #22beef;
$amethyst: #cd97eb;
$green: #a2d200;
$orange: #ffc100;
$red: #ff4a43;
$greensea: #16a085;
$dutch: #1693A5;
$hotpink: #FF0066;
$drank: #A40778;
$blue: #418bca;
$redbrown: #d9544f;
$slategray: #3f4e62;
$warning: #f0ad4e;
.btn {
    background: #fff;
    color: #333;
    @include transition(all 250ms ease-in-out);
    -moz-user-select: none;
    border: 1px solid transparent;
    @include border-radius(4px);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    outline: 0 none;
    &.btn-transparent-black {
        background-color: rgba(0, 0, 0, .1);
        color: #f2f2f2;

        &:hover {
            background-color: rgba(0, 0, 0, .2);
            color: white;
        }
    }

    &:focus {
        outline: 0;
    }

    &.active,
    &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &.uppercase {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 900;
        padding: 3px 20px;
    }

    &.disabled {
        display: none;
    }
}

.btn, .panel {
    &.btn-green {
        background-color: $green;
        color: #f2f2f2;

        &:hover {
            background-color: darken($green, 5%);
            color: white;
        }
    }
    &.btn-cyan {
        background-color: lighten($cyan, 10%);
        color: #f2f2f2;

        &:hover {
            background-color: darken($cyan, 10%);
            color: white;
        }
    }
    &.btn-red {
        background-color: lighten($red, 10%);
        color: #f2f2f2;

        &:hover {
            background-color: lighten($red, 1%);
            color: white;
        }
    }
    &.btn-orange {
        background-color: $orange;
        color: #f2f2f2;

        &:hover {
            background-color: darken($orange, 3%);
            color: white;
        }
    }
    &.btn-amethyst {
        background-color: $amethyst;
        color: #f2f2f2;

        &:hover {
            background-color: darken($amethyst, 10%);
            color: white;
        }
    }
    &.btn-greensea {
        background-color: lighten($greensea, 10%);
        color: #f2f2f2;

        &:hover {
            background-color: darken($greensea, 3%);
            color: white;
        }
    }
    &.btn-hotpink {
        background-color: lighten($hotpink, 10%);
        color: #f2f2f2;

        &:hover {
            background-color: darken($hotpink, 5%);
            color: white;
        }
    }
    &.btn-drank {
        background-color: lighten($drank, 10%);
        color: #f2f2f2;

        &:hover {
            background-color: darken($drank, 3%);
            color: white;
        }
    }
    &.btn-dutch {
        background-color: lighten($dutch, 10%);
        color: #f2f2f2;

        &:hover {
            background-color: darken($dutch, 3%);
            color: white;
        }
    }
    &.btn-blue {
        background-color: lighten($blue, 10%);
        color: #f2f2f2;

        &:hover {
            background-color: darken($blue, 3%);
            color: white;
        }
    }
    &.btn-redbrown {
        background-color: lighten($redbrown, 10%);
        color: #f2f2f2;

        &:hover {
            background-color: darken($redbrown, 3%);
            color: white;
        }
    }
    &.btn-slategray {
        background-color: lighten($slategray, 10%);
        color: #f2f2f2;

        &:hover {
            background-color: darken($slategray, 3%);
            color: white;
        }
    }
    &.btn-primary {
        color: #f2f2f2;
        background-color: #428bca;
        &:hover {
            background-color: #3071a9;
            color: white;
        }
    }
    &.btn-danger {
        color: #f2f2f2;
        background-color: #d9534f;
        &:hover {
            background-color: #c9302c;
            color: white;
        }
    }
    &.btn-warning {
        color: #f2f2f2;
        background-color: $warning;
        &:hover {
            background-color: #ec971f;
            color: white;
        }
    }
    &.btn-success {
        color: #f2f2f2;
        background-color: #5cb85c;
        &:hover {
            background-color: #449d44;
            color: white;
        }
    }
    &.btn-info {
        color: #f2f2f2;
        background-color: #5bc0de;
        &:hover {
            background-color: #31b0d5;
            color: white;
        }
    }
    &.btn-alert {
        color: #f2f2f2;
        background-color: #8800de;
        &:hover {
            background-color: #a135de;
            color: white;
        }
    }
    &.btn-transparent-white {
        background-color: rgba(255, 255, 255, 0.15);
        @include box-shadow(0 3px 0 rgba(0, 0, 0, 0.05));
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7);

        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
        }
    }
}

.text-green {
    color: $green;

}

.text-cyan {
    color: lighten($cyan, 10%);

}

.text-red {
    color: lighten($red, 10%);

}

.text-orange {
    color: $orange;

}

.text-amethyst {
    color: $amethyst;

}

.text-greensea {
    color: lighten($greensea, 10%);

}

.text-hotpink {
    color: lighten($hotpink, 10%);

}

.text-drank {
    color: lighten($drank, 10%);

}

.text-dutch {
    color: lighten($dutch, 10%);

}

.text-blue {
    color: lighten($blue, 10%);

}

.text-redbrown {
    color: lighten($redbrown, 10%);
}

.text-slategray {
    color: lighten($slategray, 10%);

}

.text-primary {

    color: #428bca;

}

.text-danger {

    color: #d9534f;

}

.text-warning {

    color: $warning;

}

.text-success {

    color: #5cb85c;

}

.text-info {

    color: #5bc0de;

}

.text-transparent-white {
    color: rgba(255, 255, 255, 0.15);

}

.text-transparent-black {
    color: rgba(0, 0, 0, .1);

}

.btn-group {
    display: inline-block;
    font-size: 0;
    .btn {
        @include border-radius(0);

        &:first-child {
            @include border-left-radius(4px);
        }
        &:last-child {
            @include border-right-radius(4px);
        }
    }
}

.btn-block {
    width: 100%;
    margin: 5px 0;
}