[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

b, strong {
    font-weight: bolder
}

i, cite, em,
var, address {
    font-style: italic
}

pre, tt, code,
kbd, samp {
    font-family: monospace
}

pre {
    white-space: pre
}

big {
    font-size: 1.17em
}

small, sub, sup {
    font-size: .83em
}

sub {
    vertical-align: sub
}

sup {
    vertical-align: super
}

s, strike, del {
    text-decoration: line-through
}

hr {
    border: 1px inset
}

u, ins {
    text-decoration: underline
}

center {
    text-align: center
}

table {
    max-width: 100%;
    width: 100%;
    th, td {
        line-height: 1.42857;
        padding: 8px;
    }
}

a {
    outline: 0;
}

img {
    max-width: 100%;
}

:focus {
    outline: thin dotted invert
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-margin {
    margin: 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

ul.has-bullet {
    margin-left: 20px;
    list-style: disc;
    li {
        list-style: disc;
    }
}

.ajax_loader {
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    @include tm_full_container();
    &:after {
        content: '';
        @include tm_box_center_page(30px);
        border: 8px solid #fff;
        border-right-color: transparent;
        @include border-radius(50%);
        @include box-shadow(0 0 25px 2px #eee);
        @include animation(spin 1s linear infinite);
    }
}

.truncate {
    @include truncate();
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input::-moz-focus-inner {
    border: 0;
}

.video-wrapper {
    position: relative;
    padding-bottom: 52.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clearfix {
    @include tm_clear_fix();
}