$grid-column: 12;

.row {
    margin: 15px 0;
    @include tm_clear_fix();
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
    @include box-sizing(border-box);
    width: 100%;

    &:after {
        content: ' ';
    }

}

@media only screen and (min-width: 768px) {
    @for $i from 1 through $grid-column {
        .col-#{$i} {
            width: percentage($i/$grid-column);
        }
    }
    @for $i from 1 through $grid-column {
        .col-offest-#{$i} {
            margin-left: percentage($i/$grid-column);
        }
    }
}
