$tablet: 600px;
$desktop: 980px;

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font: 16px/1.5 Roboto, 'Kanit', sans-serif;
    font-weight: 200;
    color: #202020;
}

h1, h2, h3, strong {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

img {
    max-width: 100%
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
}

.zoom {
    overflow: hidden;
    @include border-radius(20px 20px 20px 20px);
    img {
        @include transition(all 800ms ease);
        display: block;
    }
    &:hover img {
        @include transform(scale(1.2));
    }
}

header {

    .left {
        float: left;
        margin: 0px 10px 10px 10px;
        @media only screen and (min-width: $desktop) {
            margin: 20px;
        }
    }

    .right {
        float: right;
        border: 2px solid #cdcdcd;
        padding: 5px;
        color: #898989;
        @include border-radius(6px 6px 6px 6px);
        margin-right: 10px;
        font-size: 11px;
        @media only screen and (min-width: $desktop) {
            padding: 10px;
            margin-right: 20px;
            font-size: 16px;
        }
        span {
            color: #00b5f1;
            font-size: 15px;
            display: block;
            @media only screen and (min-width: $desktop) {
                font-size: 26px;
            }
        }
    }

    .center {
        width: 72px;
        height: 37px;
        margin: 20px auto;
        display: block;
        @media only screen and (min-width: $desktop) {
            width: 144px;
            height: 74px;
        }
    }

}

nav {
    background: #141d3f;
    border-top: 5px solid #02509a;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: 0 auto;
}

@media only screen and (max-width: 999px) {
    nav ul {
        flex-flow: column;
        margin-left: 20px;
    }
}

nav ul li {

    flex: 1 auto;
}

nav ul li a {
    color: #ffffff;
}

.banner {
    position: relative;

    p {
        font-size: 16px/1.5 Arial;
        color: #141d3f;
        margin-left: 10px;
        @media only screen and (min-width: 1000px) {
            font-size: 18px/1.5 Arial;
        }
    }
    div {
        @media only screen and (min-width: 1000px) {
            max-width: 680px;
            position: absolute;
            top: 0;
            right: 0;

        }
    }
}

h1 {
    font: 20px/1.5;
    color: #11366d;
    margin-top: 10px;
    margin-left: 10px;
}

@media only screen and (min-width: 1000px) {
    h1 {
        font: 55px/1.5 Arial;
        margin-top: 72px;
        margin-right: 256px;
    }
}

.info {
    a {
        &.infographic {
            width: 180px;
            margin: 0 auto;
            display: block;
        }
    }
    ul {
        li {
            padding: 0 20px;
        }
    }
}

//
//.info ul li {
//    display: inline-block;
//    vertical-align: top;
//    margin: 2%;
//
//}
//
//@media only screen and (min-width: 500px) {
//    .info ul li {
//        width: 46%;
//    }
//}
//
//@media only screen and (min-width: 1000px) {
//    .info ul li {
//        width: 21%;
//    }
//}
//
//.info ul li img {
//    border-radius: 20px;
//}
//
//.info ul li a {
//    display: block;
//    color: #c60000;
//
//}
//
//.info .view {
//    color: #02509a;
//}
//
//.info ul li p {
//
//}
//
.info h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 29px;

}

@media only screen and (min-width: 1000px) {
    .info h2 {
        font-size: 30px;
    }
}

//
//.infographic {
//    padding: 20px;
//    background-color: #02509a;
//    color: #ffffff;
//    width: 180px;
//    margin: 0 auto;
//    display: block;
//    text-align: center;
//}

.service div {
    width: 96%;
    font-size: 20px;
    margin: 2%;
}

@media only screen and (min-width: 1000px) {

    .service div {
        float: left;
        width: 46%;
        font-size: 20px;
        margin: 2%;
    }
}

.service a {
    padding: 10px;
    background-color: #02509a;
    color: #ffffff;
    width: 200px;
    margin: 20px;
    display: block;
    text-align: center;
}

footer {
    background-color: #141d3f;
    color: #ffffff;
    padding: 40px 20px 10px;
    section.col-8 {
        border-left: 1px solid #38405c;
        padding-left: 50px;
        @media only screen and (max-width: 999px) {
            display: none;
        }
    }
    .col-6 {
        padding-left: 0;
    }
    ul li {
        line-height: 2em;
    }
    span {
        color: #00b5f1;
    }

    a {
        color: #ffffff;
    }

    h5 {
        border-bottom: 1px solid #38405c;
    }

    p.copyright {
        padding: 50px 0px 0px;
        text-align: center;
        color: #38405c;
        font-size: 0.8em;
    }

}

#about {
    h2 {
        color: #11366d;
        h3 {
            color: red;
        }
    }
    .banner {
        h1, p {
            color: #ffffff;
        }

    }
    .sub-nav {
        nav {
            @include clearfix();
            background: #ffffff;
            border-top: none;
            border-bottom: 1px solid gray;
            p {
                color: #202020;
                float: left;
            }
            ul {
                float: right;
                li a {
                    color: #202020;

                }
            }
        }

    }
    .text-center {
        margin-top: 50px;
        h2 {
            font-size: 26px;
        }

    }
    .vision {
        margin-top: 50px;
        h2 {
            text-align: center;
            border-bottom: 1px dotted gray;
        }
        p {
            text-align: center;
        }

        section {
            @include clearfix();
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }

    .network {
        padding: 50px 40px;
        h2 {
            font-size: 26px;
        }
        h3 {
            color: #c60000;
        }
    }

    .ceo {
        background: #d1d1d1;
        .wrapper {
            position: relative;
        }
        h2 {
            color: rgba(255, 255, 255, .5);
            max-width: 500px;
            position: absolute;
            right: 205px;
            bottom: 85px;
        }
    }
    .standard {
        .standard_item{
            border-bottom: 1px dotted gray;
        }
        h2 {
            color: #11366d;
            font-size: 26px;
        }
        h3 {
            color: #ca1111
        }
       h4{

       }
    }


}

